:root{
    --tamaño-base: 1em;
    --color-background-tecla:rgb(45, 45, 45);
    --color-background-tecla-hover: rgb(37, 37, 37);
    --color-background-tecla-igual: rgb(253, 173, 0);
    --color-background-tecla-operador: rgb(25, 25, 25);
    --color-background-tecla-especial: rgb(0, 134, 243);
    --color-background-tecla-igual-hover: rgb(199, 136, 0);
    --color-background-tecla-especial-hover:rgb(10, 107, 187);;
    --color-font-tecla: rgb(145, 145, 145);
    --color-font-tecla-especial: rgb(255, 255, 255);
    
}

body {
    color: white;
    background-color: rgb(12, 12, 12);
    max-width: 500px;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 3px;
    padding: 3px;
}
  

h1, h3 {
    text-align: right;
    margin: calc(var(--tamaño-base)* 0.5);
}

div.pantalla{
    max-width: auto;
    overflow: auto;
}

button {
    border: none;
    color: var(--color-font-tecla);
    background-color:var(--color-background-tecla);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.reiniciar {
    grid-column: 1 / 3;
}

.reiniciar, .retroceder, .signo {
    background-color: var(--color-background-tecla-especial);
    color: var(--color-font-tecla-especial);
}

.igual {
    
    background-color: var(--color-background-tecla-igual);
    color: var(--color-font-tecla-especial);
}

.operador {
    background-color: var(--color-background-tecla-operador);
}

.igual:hover {
    background-color: var(--color-background-tecla-igual-hover);
}

.reiniciar:hover, .retroceder:hover, .signo:hover {
    background-color: var(--color-background-tecla-especial-hover)
}

button:hover {
    background-color: var(--color-background-tecla-hover);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-background-tecla)
  }


::-webkit-scrollbar-thumb {
    background: var(--color-background-tecla-igual) 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-background-tecla-igual-hover)
  }





